$containerImgUrl: '../img/01.png';

html,body{
    width: 100%;
    height: 100%;
}
@mixin boxSize($width, $height){
    width: $width;
    height: $height;
}
@mixin fontSize($color, $size){
    color: $color;
    font-size: $size;
}
body{
    background-color: #000;
}
.container{
    background: url($containerImgUrl) center center/cover no-repeat;
    @include boxSize(100%, 100%);
}